<div style="text-align:center">
  <h1>
    Weather App
  </h1>
  <img width="300" alt="Angular Logo" src="https://cdn.iconscout.com/public/images/icon/free/png-512/sun-behind-large-cloud-brightness-weather-rainy-39c66a6459a12b07-512x512.png">
</div>

<div class="container">
  <div class="row">
      <div class="col-sm-8">
         <h2>Ciudades de Interes</h2>
         <table class="table table-bordered">
            <thead>
               <tr>
                 <th>Nombre</th>
                 <th>Codigo</th>
                 <th>Temperatura</th>
                 <th>Condicion</th>
                 <th>       </th>
               </tr>
            </thead>
            <tbody>
               <tr *ngFor="let ciudad of ciudades; let i = index">
                  <td>{{ciudad.nombre}}</td>
                  <td>{{ciudad.codigo}}</td>
                  <td>{{ciudad.temperatura}}</td>
                  <td>{{ciudad.condicion}}</td>
                  <td><button type="button" name="button" class="btn btn-outline-danger" (click)="borrarCiudad(ciudad.nombre)" > Borrar Ciudad </button></td>
               </tr>
            </tbody>
         </table>
      </div>
   </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th><span style="height:100%; width:5px;overflow:auto">Nombre Ciudad</span></th>
            <th><input type="text" name="idCiudad" (keyup)="onKey($event)" ></th>
            <th><button class="btn btn-sm btn-success" (click)="agregarCiudad()">Agregar Ciudad</button></th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>
